@import '../styles/shared';

mat-toolbar {
  display: flex;
  flex-direction: row;
}

.title {
  font-weight: bold;
  color: set-text-color($primary-color);
}


.navigation-tabs {
  display: inline-block;
  flex: 1;
  text-align: right;
}

button {
  width: auto;
  color: set-text-color($primary-color);
}
