@import '../../styles/shared';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

mat-card-title {
  text-align: center;
}

.playlist-card {
  flex: 1;
  margin: 0 1rem 0 1rem;
}

button {
  align-self: flex-end;
  background-color: $primary-color;
  color: set-text-color($primary-color);
}

.mb-3 {
  margin-bottom: 3rem;
}
